<% include partial/header %>
<div class="row">
    <div class="col-sm text-center"><h1>Find the place to play outside.</h1></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <form id="search">
            <div class="input-group">
                <input class="form-control" type="text" name="location" placeholder="Where are you?"/>
                <span class="input-group-btn">
                    <input type="submit" class="btn" value="Search" />
                </span>
            </div>
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>




<% include partial/footer %>