<% include partial/header %>
<div class="row">
    <div class="col-sm text-center"><h1>Find the place to play outside.</h1></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <form id="search" onsubmit="searchParks(this.children[0].children[0].value); return false" autocomplete="off">
            <div class="input-group">
                <input class="form-control" type="text" name="location" placeholder="Where are you?"/>
                <span class="input-group-btn">
                    <input type="submit" class="btn" value="Search"/>
                </span>
            </div>
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>
<div id = "parks"></div>


<script>
    function searchParks(location){
         $.post("search",
            { location: location },
            function(data, status){
                // console.log("OK, \nStatus: " + status + ", Result: " + data);
                var parks = JSON.parse(data);
                var html = "";
                for(var i=0; i<parks.length; i++){
                    var park = parks[i];
                    if(i%2 === 0){ // odd
                        html += "<div class=\"row\">";
                    }
                    var img_parts =  park.image_url.split("/");
                    img_parts.pop();
                    img_parts.push("ls.jpg");
                    var image_url = img_parts.join("/");
                    html += "<div class=\"col-sm-6\">"
                            + "<div class=\"row park\">"
                            + "<div class=\"col-sm-4 col-xs-6\">"
                            + "<a target=\"_blank\" href=\"" +park.url+ "\">"
                            +"<img class=\"img-rounded\" src=\"" +image_url+ "\" alt=\"" +park.name+ "\" height=\"120\" width=\"120\"/>"
                            + "</a></div><div class=\"col-sm-8 col-xs-6\">"
                            + "<h4><a target=\"_blank\" href=\"" +park.url+ "\">" +park.name+ "</a></h4>"
                            + "<button class=\"btn-xs\" data-toggle=\"modal\" data-target=\"#rsvpModal\">going: 0</button>"
                            + "<button class=\"btn-xs\" data-toggle=\"modal\" data-target=\"#rsvpModal\">I am going</button>"
                            + "<p>" +park.location.display_address+ "</p>"
                            + "</div></div></div>";
                    if(i%2 !== 0){ // even
                        html += "</div>";
                    }
                }
                $("#parks").html(html);
            })
            .fail(function(error){
                console.log("ERROR:  " + error);
            });
        return false;
    }
</script>
<% include partial/modal %>