html, body {
	margin:0;
	padding:0;
	height:100%;
}

body{
	background-color: yellow;
	color: green;
	font-size: 14px;
}

#header{
	/*border:1px solid red;*/
	width: 100%;
	line-height: 20px;
	padding: 20px;
}

#main{
	background-color: @blue;
	min-height: ~"calc(100% - 120px)"; /* 100% - header - footer */
	/*border: 1px solid green*/;
}

#content{
}

#footer{
    width: 100%;
    line-height: 20px;
    padding: 20px;
   /* border: 1px solid red;*/
}
