<div class="modal fade" id="rsvpModal" tabindex="-1" role="dialog" aria-labelledby="rsvpModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="rsvpModalLabel">Please login for RSVP</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="authForm"><% include auth %></div>
                <div id="rsvpForm"><% include rsvp %></div>
                <p id="thanks">Thank you for RSVP.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
                <button type="button" class="btn" id="action">Login</button>
            </div>
        </div>
    </div>
</div>

<script>
    var step = "login";
    $("#rsvpForm").hide();
    $("#thanks").hide();

    function reset(){ // TODO

    }

    $("#action").click(function(){
        if(step == "login"){
            var d = $.Deferred();
            loginUser(d);

            $.when(d).done(function () {
                step = "rsvp";
                $("#authForm").hide();
                $("#rsvpForm").show();
                $("#action").html("RSVP");
            });
        } else if(step == "register"){
            var d = $.Deferred();
            registerUser(d);

            $.when(d).done(function () {
                step = "rsvp";
                $("#authForm").hide();
                $("#rsvpForm").show();
                $("#action").html("RSVP");
            });
        } else if(step == "rsvp"){
            var d = $.Deferred();
            rsvp(d, user, park);

             $.when(d).done(function () {
                $("#thanks").show();
                $('#rsvpModal').modal('hide');
                reset();
            });
        }
    });
</script>