<div class="modal fade" id="rsvpModal" tabindex="-1" role="dialog" aria-labelledby="rsvpModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="rsvpModalLabel">Please login for RSVP</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="authForm"><% include auth %></div>
                <div id="rsvpForm"><% include rsvp %></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
                <button type="button" class="btn" id="action">Login</button>
            </div>
        </div>
    </div>
</div>

<script>
    var step = "login";
    var user = "<%=locals.user%>";
    if(user != ""){
        step = "rsvp";
        $("#authForm").hide();
        $("#action").html("RSVP");
    } else {
        $("#rsvpForm").hide();
    }

    function reset(){
        $("#auth input").val("");
        $("#register input").val("");
        $("#rsvp input").val("");
        $(".datepicker table tr td.active.active").removeClass("active");
    }

    $('.modal').on('hidden.bs.modal', function(){
        reset();
    });

    $("#action").click(function(){
        if(step == "login"){
            var d = $.Deferred();
            loginUser(d);

            $.when(d).done(function (data) {
                user = data;
                step = "rsvp";
                $("#authForm").hide();
                $("#rsvpForm").show();
                $("#action").html("RSVP");
            });
        } else if(step == "register"){
            var d = $.Deferred();
            registerUser(d);

            $.when(d).done(function (data) {
                user = data;
                step = "rsvp";
                $("#authForm").hide();
                $("#rsvpForm").show();
                $("#action").html("RSVP");
            });
        } else if(step == "rsvp"){
            var d = $.Deferred();
            rsvp(d, user);

            $.when(d).done(function (date) {
                var rsvpDate = new Date(date);
                var inAWeek = new Date();
                inAWeek.setDate(inAWeek.getDate() + 7);

                if(rsvpDate <= inAWeek){
                    var countSelector = "#"+$("#parkId").val()+" .count";
                    var newVal =  parseInt($(countSelector).text().split(": ")[1]) + 1;
                    $(countSelector).text("going: " + newVal);
                }

                $('#rsvpModal').modal('hide');
                reset();
            });
        }
    });
</script>