<form id="rsvp">
    <div class="form-group">
        <label for="Day">What day are you going to the park?</label>
        <input type="text" class="form-control" id="day">
    </div>
    <div class="form-group">
        <label for="Time">What time are you going to the park?</label>
        <input type="text" class="form-control" id="time">
    </div>
</form>